// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// archive-page コンテンツ一番外側のpadding
// ==================================================================================
.p-article {
    padding: 32px 20px;
    @include tablet {
        padding: 40px;
    }
    @include pc {
        padding: 64px 5.2%;
    }
}


// ==================================================================================
// single-page コンテンツ一番外側のpadding
// ==================================================================================
.p-article--single {
    padding: 34px 20px 69px;
    @include tablet {
        padding: 60px 60px 150px;
    }
    @include pc {
        padding: 63px 100px 274px 100px;
    }
}