// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// single-page 引用のpadding等調整
// ==================================================================================
.wp-block-quote {
    padding: 30px 18px 27px 20px;
    @include tablet {
        padding: 50px 57px 57px 50px;
        margin-bottom: 60px;
    }
    p {
        padding-bottom: 4px;
        @include tablet {
            padding-bottom: 60px;
        }
    }
}