// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// single-page コード
// ==================================================================================
.p-code {
    padding: 30px 0 20px 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: $color--quote;
    color: $color--textBrown;
    @include tablet {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}