// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// all 検索フォーム全体の調整
// ==================================================================================
.p-form {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    &__input {
        position: relative;
        &::before {
            content: "\f002";
            position: absolute;
            top: 11px;
            left: 9px;
            width: 24px;
            height: 24px;
            color: #808080;
            font-weight: 900;
            font-size: 2.4rem;
            font-family: "Font Awesome 5 Free";
        }    
    }
    @include pc {
        margin-right: 32px;
    }
}