// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// archive-page
// ==================================================================================
.p-introduction {
    padding: 0 2px;
    &__title {
        @include tablet {
            padding-bottom: 55px;
        }
    }
    &__text {
        padding-bottom: 36px;
        @include tablet {
            padding-bottom: 62px;
        }
        @include pc {
            padding-bottom: 40px;
        }    
    }
}