// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// front-page マップ全体調整
// ==================================================================================
.p-map {
    position: relative;
    z-index: 10;
    background-image: url(../../../../img/front-map.png);
    background-size: cover;
    background-color: $color--menubg;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 50%;
        background-color: rgba($color: #000000, $alpha: 0.2855);
        @include tablet {
            height: 100%;
        }
        @include pc {
            width: 61.8%;
        }
    }
    &__res-pc {
        @include pc {
            width: 61.8%;
            padding: 5% 7.8% 1%;
        }
    }
    &__text {
        padding: 0 40px 57px;
        @include pc {
            padding-top: 5%;
        }
    }
}