// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// single-page ol
// ==================================================================================
.p-ol {
    list-style-type: decimal;
    margin-bottom: 1em;
    color: $color--textBrown;
    @include tablet {
        padding-left: 90px;
    }
    @include pc {
        padding-left: 50px;
    }
    &__list {
        list-style-type: decimal;
        list-style-position: inside;
    }
    &__child {
        margin-top: 1em;
        text-indent: 1em;
        &-list {
            list-style-type: decimal;
            list-style-position: inside;
        }
    }
    &:last-of-type {
        padding-bottom: 40px;
    }
}