// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// all
// ==================================================================================
.p-footer {
    div {
        ul {
            display: flex;
            li {
                color: $color--titleWhite;
                &:last-of-type {
                    position: relative;
                    margin-left: 32px;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 6px;
                        left: -16px;
                        width: 2px;
                        height: 16px;
                        background-color: $color--titleWhite;
                    }
                }
            }
        }
    }
    small {
        font-size: 1.4rem;
        line-height: 20.79px;    
    }
}