// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// all
// ==================================================================================
.p-footer {
    &__ul {
        display: flex;
    }
    &__copy {
        font-size: 1.4rem;
        line-height: 20.79px;    
    }
}