// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// all
// ==================================================================================
.p-header {
    position: relative;
    &__menu {
        position: absolute;
        top: 8px;
        right: 8px;
    }
    @include pc {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}