// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// archive-page ページネーション全体調整
// ==================================================================================
.wp-pagenavi {
    display: none;
    @include tablet {
        display: flex;    
        justify-content: center;
        align-items: center;
        padding-top: 86px;
        .pages {
            margin-right: 20px;
        }
        .current {
            margin-right: 15px;
        }
        a {
            margin-right: 15px;
        }
    }
    @include pc {
        padding-top: 120px;
    }
}
