// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// archive-page ページネーション全体調整
// ==================================================================================
.p-pagination {
    display: flex;
    justify-content: space-between;
    padding: 42px 30px 0;
    @include tablet {
        justify-content: center;
        align-items: center;
        padding-top: 86px;
    }
    @include pc {
        padding-top: 120px;
    }
    &__sp-flex {
        display: flex;
    }
    &__notsp {
        @include tablet {
            margin-right: 15px;
            &:first-child {
                margin-right: 50px;
            }    
        }
    }
}