// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// all メニュー一覧の全体調整
// ==================================================================================
.menu-categorymenu-container {
    position: fixed;
    z-index: 100;
    top: 0;
    right: -120%;
    width: 328px;
    height: 100vh;
    overflow: auto;
    transition: all 0.3s;
    @include tablet {
        width: 367px;
    }
    @include pc {
        position: static;
        height: 100%;
        width: 100%;
    }
    &.is-active {
        right: 0;
    }
    & .sub-menu {
        padding: 40px 0 60px 66px;
    }
}
