// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// single-page 表形式
// ==================================================================================
.p-table {
    width: 100%;
    margin-bottom: 60px;
    border-collapse: collapse;
    color: $color--textBrown;
    &__tr, &__td1, &__td2 {
        border: 1px solid $color--titleGray;
    }
    &__td1 {
        padding: 27px 47px 27px 24px;
    }
    &__td2 {
        padding: 27px 100px 27px 30px;
    }
}