// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// single-page ul
// ==================================================================================
.p-ul {
    margin-bottom: 1em;
    color: $color--textBrown;
    @include tablet {
        padding-left: 90px;
    }
    @include pc {
        padding-left: 50px;
    }
    &__child {
        margin-top: 1em;
        text-indent: 1em;
    }
}