// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// single-page ul
// ==================================================================================
.wp-block ul {
    padding-left: 20px;
    li {
        list-style-type: disc;
        ul {
            li {
                list-style-type: circle;
            }
        }
    }
}