// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../foundation/mixin" as *;


.l-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    padding: 16px 0;
    background-image: url(../../img/footerbg.png);
    background-size: cover;
    @include pc {
        padding: 41px 0 27px 0;
    }
}