// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// all
// ==================================================================================
.search-submit {   // 検索ボタン
    display: block;
    width: 27%;
    height: 46px;
    border: 1px solid $color--titleGray;
    border-radius: 10px;
    background: linear-gradient(90deg, #F2EDE9 0%, #DED8D3 100%);
    color: $color--titleGray;
    font-weight: 700;
    font-family: $font--roboto;
    @include tablet {
        width: 23%;
    }
    @include pc {
        width: 7.08vw;
    }
}


// ==================================================================================
// archive-page
// ==================================================================================
.c-button--link {   // 詳細を見るボタン
    display: block;
    width: 163px;
    height: 42px;
    border-radius: 20px;
    padding: 12.5px 0;
    margin: 0 auto;
    background-color: $color--titleWhite;
    font-weight: 700;
    text-align: center;
    line-height: 17px;
}


// ==================================================================================
// single-page
// ==================================================================================
.c-button--large {
    @extend .search-submit;
    width: 100%;
    height: 81px;
    margin-bottom: 30px;
    border-radius: 20px;
    color: $color--textBrown;
    @include tablet {
        width: 429px;
        height: 104px;
        margin-bottom: 60px;
    }
}