// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// all PC版のレイアウト
// ==================================================================================
.c-flex--parent-pc {
    @include pc {
        display: flex;
    }
}

.c-flex--child-main {
    @include pc {
        width: 75%;
    }
}

.c-flex--child-sidebar {
    @include pc {
        width: 25%;
    }
}
