// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// all 検索ボックス
// ==================================================================================
.search-field {
    width: 57.6vw;
    max-width: 364px;
    height: 46px;
    padding-left: 38px;
    margin-right: 16px;
    border: 1px solid $color--titleGray;
    border-radius: 10px;
    background-color: $color--titleWhite;
    @include tablet {
        width: 47.48vw;
    }
    @include pc {
        width: 20vw;
        max-width: 396px;
    }
}