// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// all 検索ボックス
// ==================================================================================
.search-field {
    display: block;
    width: 100%;
    height: 46px;
    padding-left: 38px;
    padding-right: 6px;
    margin-right: 5%;
    border: 1px solid $color--titleGray;
    border-radius: 10px;
    background-color: $color--titleWhite;
    @include tablet {
        margin-right: 3%;
    }
}