// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// all フッターのリンク
// ==================================================================================
.menu-item-object-page {
    font-size: 1.8rem;
    line-height: 26.73px;
    a {
        color: $color--titleWhite;
        &:visited {
            color: $color--titleWhite;
        }
    }
    @include pc {
        font-size: 2.0rem;
        line-height: 30px;
    }
}
