// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// all メニュー一覧
// ==================================================================================
.menu-item-object-category .sub-menu .menu-item-object-post {
    padding-bottom: 20px;
    color: $color--titleGray;
    font-size: 2.0rem;
    line-height: 30px;
    a {
        &:visited {
            color: $color--titleGray;
        }
    }
}