// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// all(sp&tablet) メニュー一覧表示の背景レイヤー
// ==================================================================================
.c-menubg {
    display: none;
    &.is-active {
        display: block;
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: black;
        animation-name: fade;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

body.is-active {   // Menuボタンがクリックされた時のbody要素をスクロールで動かないようにする
    overflow: hidden;
}