// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// all
// ==================================================================================
.c-menu {   // Menuボタン
    color: $color--titleGray;
    font-family: $font--roboto;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    @include tablet {
        font-size: 3.4rem;
        line-height: 40px;
    }
    @include pc {
        display: none;
    }
}


// ==================================================================================
// all(sp&tablet)
// ==================================================================================
.c-menu--close {   // バツボタン
    display: block;
    position: relative;
    top: -178px;
    left: 270px;
    width: 50px;
    height: 50px;
    @include tablet {
        left: 314px;
    }
    @include pc {
        display: none;
    }
    &::before {
        content: "";
        position: absolute;
        top: 22px;
        left: 4px;
        width: 40px;
        height: 6px;
        background-color: $color--titleGray;
        transform: rotate(45deg);
    }
    &::after {
        content: "";
        position: absolute;
        top: 22px;
        right: 5px;
        width: 40px;
        height: 6px;
        background-color: $color--titleGray;
        transform: rotate(-45deg);
    }
}

.c-menu--pc {
    display: none;
    @include pc {
        display: block;
        padding-left: 46px;
        padding-bottom: 90px;
        color: $color--titleGray;
        font-weight: 700;
        font-size: 3.4rem;
        font-family: $font--roboto;
        line-height: 40px;
    }
}