// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// archive-page ページネーション
// ==================================================================================
.c-pagination {   // 戻るボタン
    position: relative;
    color: $color--titleGray;
    a {
        color: $color--titleGray;
        &::before {
            content: "\0ab";
            position: absolute;
            top: -2px;
            left: -26px;
            width: 17.53px;
            height: 17.07px;
            font-weight: 100;
            font-size: 3.2rem;
            @include tablet {
                top: -14px;
                left: -32px;
            }
        }    
    }
}

.c-pagination--right {   // 進むボタン
    position: relative;
    color: $color--titleGray;
    a {
        color: $color--titleGray;
        &::after {
            content: "\0bb";
            position: absolute;
            top: -2px;
            left: 2px;
            width: 17.53px;
            height: 17.07px;
            font-weight: 100;
            font-size: 3.2rem;
            @include tablet {
                top: -14px;
                left: -4px;
            }
        }    
    }
}

.c-pagination--page {   // 1〜9
    display: none;
    @include tablet {
        display: block;
        width: 35px;
        height: 35px;
        border: 1px solid $color--titleGray;
        font-weight: 700;
        font-family: $font--roboto;
        text-align: center;
        line-height: 33px;
        a {
            color: $color--titleGray;
        }
    }
}

.c-pagination--corrent {   // 今のページカウント
    display: none;
    @include tablet {
        display: block;
        color: $color--titleGray;
        font-weight: 700;
        font-family: $font--roboto;
        line-height: 33px;
    }
}

.c-pagination--forward, .c-pagination--next {   // SPの前へと次へボタン
    line-height: 24px;
    a {
        color: $color--titleGray;
    }
    @include tablet {
        display: none;
    }
}