// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// archive-page ページネーション
// ==================================================================================
.nextpostslink, .previouspostslink {   // <<と>>ボタン
    display: block;
    color: $color--titleGray;
    // font-size: 4.0rem;
}

.pages {   // 今のページ総合カウント
    @include tablet {
        display: block;
        color: $color--titleGray;
        font-weight: 700;
        font-family: $font--roboto;
        line-height: 33px;
    }
}

.current {   // 現在のページ（背景茶色で数字が白）
    @include tablet {
        display: block;
        width: 35px;
        height: 35px;
        border: 1px solid $color--titleGray;
        background-color: $color--cardbg;
        color: $color--titleWhite;    
        font-weight: 700;
        font-family: $font--roboto;
        text-align: center;
        line-height: 33px;
    }
}

.page {   // 1〜9
    @include tablet {
        display: block;
        width: 35px;
        height: 35px;
        border: 1px solid $color--titleGray;
        font-weight: 700;
        font-family: $font--roboto;
        text-align: center;
        line-height: 33px;
        a {
            color: $color--titleGray;
        }
    }
}

.sp-pagenation {   // SPの前へと次へボタン
    display: flex;
    justify-content: space-between;
    padding-top: 62px;
    line-height: 24px;
    li:last-child {
        text-align: right;
    }
    a {
        color: $color--titleGray;
    }
    @include tablet {
        display: none;
    }
}