// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// front-page
// ==================================================================================
.c-text {   // オーダー方法のテキストボックス内のテキスト
    color: $color--textBrown;
    @include tablet {
        font-size: 1.4rem;
        line-height: 21px;
    }
}

.c-text--bold {   // オーダー方法のテキストボックス内の見出し   ！！titleでコンポーネント作った方がいいかも
    @extend .c-text;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 24px;
    @include tablet {
        font-size: 2.4rem;
    }
}

.c-text--map {   // 地図のテキスト
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 33px;
    @include pc {
        line-height: 33px;
    }
}


// ==================================================================================
// archive-page
// ==================================================================================
.c-text--introduction {   // イントロダクションのテキスト
    color: $color--textBrown;
}

.c-text--summary {   // カード内の説明文
    line-height: 24px;
}