// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// front-page
// ==================================================================================
.c-title--logo {   // headerのロゴ
    padding: 43px 0;
    color: $color--titleGray;
    font-weight: 700;
    font-size: 4.0rem;
    font-family: $font--roboto;
    line-height: 46.88px;
    text-align: center;
    a {
        color: $color--titleGray;
    }
    @include pc {
        margin-left: 65px;
        font-size: 6.4rem;
        line-height: 75px;
    }
}

.c-title--main-visual {   // メインビジュアルの見出し
    padding-left: 25px;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 53.46px;
    @include tablet {
        padding-left: 0;
        margin-left: 86px;
    }
    @include pc {
        font-size: 40px;
        line-height: 59px;
    }
}

.c-title--ordermethods {   // オーダー方法の見出し
    padding: 13px 0 19px 0;
    font-weight: 700;
    font-size: 4.1rem;
    font-family: $font--roboto;
    line-height: 48px;
    @include tablet {
        font-size: 4.4rem;
        line-height: 52px;
    }
    @include pc {
        font-size: 8.0rem;
        line-height: 94px;
    }
}

.c-title--map {   // 地図の見出し
    padding: 42px 0 15px 42px;
    font-weight: 700;
    font-size: 3.0rem;
    line-height: 44.55px;
    @include pc {
        padding-bottom: 7.8%;
        font-size: 3.6rem;
        line-height: 53px;
    }
}

.menu-item-object-category {   // メニュー一覧のカテゴリー見出し
    padding-left: 46px;
    color: $color--titleGray;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 35.64px;
    a {
        &:visited {
            color: $color--titleGray;
        }
    }
}


// ==================================================================================
// archive-page
// ==================================================================================
.c-title--first-archive-main-visual {   // メインビジュアルの見出し
    padding-left: 37px;
    font-weight: 700;
    font-size: 3.6rem;
    font-family: $font--roboto;
    line-height: 42px;
    @include tablet {
        font-size: 6.0rem;
        line-height: 70px;
        padding-left: 0;
        margin-left: 86px;
    }
}

.c-title--second-archive-main-visual {   // メインビジュアルの小見出し
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 24px;
    padding-left: 37px;
    @include tablet {
        padding-left: 19px;
    }
}

.c-title--introduction {   // イントロダクションのタイトル
    padding-bottom: 25px;
    color: $color--textBrown;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 42px;
    @include tablet {
        padding-bottom: 20px;
    }
}

.c-title--first-title {   // サマリーの見出し
    padding-bottom: 21px;
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 30px;
    @include pc {
        padding-bottom: 44px;
    }
}

.c-title--second-title {   // サマリーの小見出し
    padding-bottom: 7px;
    font-weight: 700;
    @include pc {
        padding-bottom: 13px;
    }
}


// ==================================================================================
// single-page
// ==================================================================================
.c-title--main-visual-single {
    @extend .c-title--main-visual;
    @include tablet {
    font-size: 6.0rem;
    line-height: 89px;
    }
}

.c-title--h3 {
    @extend .c-title--h;
    padding-bottom: 28px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 35.64px;
    @include tablet {
        padding-bottom: 57px;
        font-size: 2.8rem;
        line-height: 42px;
    }
}

.c-title--h {
    padding-bottom: 28px;
    color: $color--textBrown;
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 30px;
    @include tablet {
        padding-bottom: 57px;
    }
}


// ==================================================================================
// shop-page
// ==================================================================================
.c-title--main-visual-shop {
    @extend .c-title--main-visual-single;
    @include tablet {
    font-size: 6.0rem;
    line-height: 89px;
    }
}
