// ==================================================================================
// 変数呼び出し
// ==================================================================================
@use "../../foundation/variable" as *;


// ==================================================================================
// メディアクエリ呼び出し
// ==================================================================================
@use "../../foundation/mixin" as *;


// ==================================================================================
// front-page フッターのlインクの間の縦線
// ==================================================================================
.c-vertical-line {
    height: 16px;
    margin: auto 16px;
    border-left: 2px solid $color--titleWhite;
}